.SlugContainer {
  @include box();
  @include make-flex($just: flex-start);
  overflow-y: auto;
  overflow-x: hidden;

  &__main {
    @include make-flex($just: flex-start);
    @include box(100vw, auto);
    max-width: 1050px;
    margin-top: 120px;
    gap: 40px;

    @include respondAt(1150px) {
      margin-top: 100px;
    }
    @include respondAt(1120px) {
      margin-top: 80px;
    }

    @include respondAt(1080px) {
      padding: 0 20px 20px;
    }

    @include respondAt(920px) {
      gap: 30px;
    }
  }
}
